In [1]:
import argparse
import utils
import pandas as pd

In [2]:
def parse_args():
    """
    Description: args
    """
    parser = argparse.ArgumentParser()

    parser.add_argument(
        "--raw_zone_json_path", nargs="?", default="../data/raw data/NYC Taxi Zones.geojson", help="taxi zone geojson path"
    )
    
    parser.add_argument(
        "--zone_json_path", nargs="?", default="../data/processed data/zones.geojson", help="processed taxi zone geojson path"
    )
    
    parser.add_argument(
        "--cd_adj_path", nargs="?", default="../data/processed data/cd_adj.csv", help="the centroid distance adjacency matrix path"
    )
    
    parser.add_argument(
        "--d_adj_path", nargs="?", default="../data/processed data/d_adj.csv", help="the space distance adjacency matrix path"
    )
    
    parser.add_argument(
        "--adj_path", nargs="?", default="../data/processed data/adj.csv", help="the adjacency matrix path"
    )
    
    parser.add_argument(
        "--w_adj_path", nargs="?", default="../data/processed data/w_adj.csv", help="the weighted adjacency matrix path"
    )
    
    parser.add_argument(
        "--q", nargs="?", default=0.1, help="the quantile number of distance"
    )
    
    parser.add_argument(
        "--raw_poi_json_path", nargs="?", default="../data/raw data/Points Of Interest.geojson", help="raw poi json path"
    )
    
    parser.add_argument(
        "--poi_json_path", nargs="?", default="../data/processed data/poi.geojson", help="processed poi json path"
    )
    
    parser.add_argument(
        "--poi_feature_path", nargs="?", default="../data/processed data/poi_f.csv", help="the poi feature path"
    )

    return parser.parse_known_args()[0]

In [3]:
args = parse_args()

### read zones

In [4]:
utils.read_zones(args.raw_zone_json_path,args.zone_json_path)

/root/miniconda3/lib/python3.8/site-packages/geopandas/geodataframe.py:1538: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

### load zones

In [5]:
zone_gdf = utils.load_zones(args.zone_json_path)
zone_gdf

,shape_area,shape_leng,location_id,zone,borough,geometry
id,,,,,,
4,0.000111871946192,0.0435665270921,4,Alphabet City,Manhattan,"MULTIPOLYGON (((-73.97177 40.72582, -73.97179 ..."
12,0.0000415116236727,0.0366613013579,12,Battery Park,Manhattan,"MULTIPOLYGON (((-74.01566 40.70483, -74.01540 ..."
13,0.000149358592917,0.0502813228631,13,Battery Park City,Manhattan,"MULTIPOLYGON (((-74.01244 40.71906, -74.01282 ..."
24,0.0000607235737749,0.0469999619287,24,Bloomingdale,Manhattan,"MULTIPOLYGON (((-73.95954 40.79872, -73.96004 ..."
41,0.000143093037737,0.052793109453,41,Central Harlem,Manhattan,"MULTIPOLYGON (((-73.94774 40.80960, -73.94506 ..."
...,...,...,...,...,...,...
246,0.000281298327076,0.0694671937437,246,West Chelsea/Hudson Yards,Manhattan,"MULTIPOLYGON (((-74.00440 40.76267, -74.00220 ..."
249,0.0000722155957729,0.03638434365,249,West Village,Manhattan,"MULTIPOLYGON (((-74.00251 40.72902, -74.00282 ..."
261,0.0000343423231652,0.0271204563616,261,World Trade Center,Manhattan,"MULTIPOLYGON (((-74.01333 40.70503, -74.01327 ..."
262,0.000122330270966,0.0490636231541,262,Yorkville East,Manhattan,"MULTIPOLYGON (((-73.94383 40.78286, -73.94376 ..."
263,0.0000657697664169,0.0370166252994,263,Yorkville West,Manhattan,"MULTIPOLYGON (((-73.95219 40.77302, -73.95269 ..."

### get centroid distance adjacency matrix

In [ ]:
utils.get_cd_adj(zone_gdf, args.cd_adj_path, args.q)

### load centroid distance adjacency matrix

In [ ]:
import pandas as pd

In [ ]:
cd_adj = pd.read_csv('../data/processed data/cd_adj.csv',index_col=0)
cd_adj

### get space distance adjacency matrix

In [ ]:
utils.get_d_adj(zone_gdf, args.d_adj_path, args.q)

### load space distance adjacency matrix

In [ ]:
d_adj = pd.read_csv('../data/processed data/d_adj.csv',index_col=0)
d_adj

In [ ]:
d_adj['non_zero_columns'] = d_adj.apply(lambda row: ','.join(row.index[row != 0]), axis=1)
d_adj['non_zero_columns']

In [ ]:
d_adj['non_zero_columns'][202]

### get adjacency matrix

In [6]:
utils.get_adj(zone_gdf,args.adj_path)

### load adjacency matrix

In [7]:
adj = pd.read_csv(args.adj_path,index_col=0)
adj

,4,12,13,24,41,42,43,45,48,50,...,237,238,239,243,244,246,249,261,262,263
id,,,,,,,,,,,,,,,,,,,,,
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
13,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
24,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
41,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
249,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0
261,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
262,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
263,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0

In [8]:
adj.loc[202]

4      0.0
12     0.0
13     0.0
24     0.0
41     0.0
      ...
246    0.0
249    0.0
261    0.0
262    1.0
263    1.0
Name: 202, Length: 66, dtype: float64

In [9]:
adj.loc[202].value_counts()

202
0.0    57
1.0     9
Name: count, dtype: int64

In [10]:
adj['202'].value_counts()

202
0.0    57
1.0     9
Name: count, dtype: int64

### adjacency matrix fussion

In [ ]:
utils.adj_fussion(args.adj_path,args.d_adj_path,args.cd_adj_path,args.w_adj_path)

### read POIs

In [ ]:
utils.read_poi(args.raw_poi_json_path,args.poi_json_path)

### get POI features

In [ ]:
utils.get_poi_feature(args.poi_json_path, args.zone_json_path,args.poi_feature_path)